{% load static %}
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]> -->
<html lang="en">
<!-- <![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>{% block title %}Портфолио Александра Имшенецкого{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content=""/>
    <meta name="keywords" content="">
    <meta name="author" content="snaiper20a2"/>
    <meta name="MobileOptimized" content="320"/>
    <!-- main style -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    <!-- main style -->
    <!-- favicon-icon -->
    <!--	<link rel="icon" type="image/png" href="images/favicon.png">-->
    <!-- favicon-icon -->
</head>
<!-- END HEAD -->
<!--body start-->
<body>
<!-- header menu start -->
<div class="tr_header_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="nav_toggle toggle_open">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <!-- Navigation Menu Start -->
                <div class="header_right_menu menu_open">
                    {% block menu%}
                    <ul class="menu">
                        <li>
                            <a href="{% url 'index'%}">Главная</a>
                        </li>
                        {% for section in sections %}
                        <li>
                            <a href="{% url 'section' section.slug %}">{{ section.name }}</a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="{% url 'contact' %}">Контакты</a>
                        </li>
                    </ul>
                    {% endblock %}
                </div>
                <!-- Navigation Menu End -->
            </div>
        </div>
    </div>
</div>
<!-- header menu end -->
<!-- header banner section start -->
<div class="header_banner">
    <div class="banner_overlay">
        <!-- breadcrumb start -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    {% block banner %}
                    <div class="col-lg-3 col-sm-4 face_container wow fromleft" data-wow-delay=".3s"
                         data-wow-duration="1.5s">
                        <img class="face" src="{{ bio.photo.url }}" style="display: block">
                    </div>
                    <div class=" heading_primary_container wow fromright" data-wow-duration="1.5s">
                        <h1 class="heading_primary_bio">{{ bio.title }}</h1>
                        <p class="heading_text">{{ bio.text }}</p>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->
    </div>
</div>
<!-- header banner section end -->
<!-- blog section Start -->
<div class="tr_gallery_section">
    {% block galery %}
    <div class="container-fluid">

        <!-- middle heading Start -->
        <div class="tr_middle_heading">
            <h1>Мои работы</h1>
        </div>
        <!-- middle heading End -->
        <div class="row">
            <div class="gallery_main">
                {% for project in projects %}
                {% for photo in project.photos %}
                {% if forloop.first %}
                <div class="col-lg-3 col-sm-4 col-xs-6 gallery_cover">
                    <div class="zoom wow" data-wow-duration="1.5s">
                        <a href="{{photo.photo}}" title="Photoshoot">
                            <img src="{{photo.thumbnail}}" alt="" class="img-responsive">
                            <div class="overlay">
                                <span class="link_icon"><i class="fa fa-search-plus"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                {% else %}
                <a style="display: none" href="{{photo.photo}}" title="Photoshoot"></a>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>

    </div>
    {% endblock %}
    <!--    <div class="breadcrumb_wrapper">-->
    <!--        <ul>-->
    <!--            <li><i class="fa fa-angle-double-left"></i></li>-->
    <!--            <li class="current_page">1</li>-->
    <!--            <li>2</li>-->
    <!--            <li>3</li>-->
    <!--            <li>...</li>-->
    <!--            <li>5</li>-->
    <!--            <li><i class="fa fa-angle-double-right"></i></li>-->
    <!--        </ul>-->
    <!--    </div>-->
</div>

<!-- blog section End -->
<!-- footer section Start -->
<div class="tr_footer_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pull_left">
                    <p class="copyright_text">
                        Copyright &copy; 2020, All Rights Reserved by <a href="https://t.me/snaiper20a2">snaiper20a2</a>
                    </p>
                </div>
                <ul class="footer_social_icons">
                    {% if bio.facebook_url != ''%}
                    <li>
                        <a href="{{bio.facebook_url}}"
                           title="facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if bio.telegram_url != ''%}
                    <li>
                        <a href="{{bio.telegram_url}}" title="telegram">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </li>
                    {% endif %}
<!--                    <li>-->
<!--                        <a href="#" title="google mail">-->
<!--                            <i class="fab fa-google-plus"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#" title="instagram">-->
<!--                            <i class="fab fa-instagram"></i>-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- footer section End -->
<!-- jquery library js -->
<script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
<!-- jquery library js -->
<!-- bootstrap js file-->
<script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
<!-- bootstrap js file-->
<!-- Gallery js file-->
<script type="text/javascript" src="{%static 'js/plugins/gallery/jquery.magnific-popup.min.js'%}"></script>
<!-- Gallery js file-->
<!-- wow js start-->
<script type="text/javascript" src="{%static 'js/plugins/animation/wow.min.js'%}"></script>
<!-- wow js end-->
<!-- custom js -->
<script type="text/javascript" src="{%static 'js/custom.js'%}"></script>
<!-- custom js -->
<!-- map script -->
</body>
<!--body end -->
</html>